

.text-clicker {
    @extend %unselectable;
    @extend %moving-block;
    position: absolute;
    border: 1px solid #0000F0;
    color: #0000F0;
}


.box-clicker {
    svg {
        position: absolute;
    }
}